@media (max-width: 992px) {
    
  }
@media (max-width: 768px) {
   
}
@media (max-width: 576px) {
    #avatar{
        visibility: hidden;
    }
    #onlineStatus{
        visibility: hidden;
    }
   
    #clickMe{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
    #thebutton{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}